/* body */

body {
    background: #f5f5f5;
}

/* container styles */

.container {
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
     display: block;
     margin-top: 15px;
}

input, select, button {
     width: 90%;
     padding: 10px;
     margin-top: 5px;
     border: 1px solid #ccc;
}

button {
     background: #007bff;
     color: white;
     cursor: pointer;
     margin-bottom: 10px;
}

button:hover {
      background: #0056b3;
}

h2{
     text-align: center;
}

/* summary */


.summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.summary-box {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
}